.hidden {
  display: none;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: beige;
}

body > img {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  object-fit: cover;
  z-index: -1;
}

.header {
  display: flex;
  justify-content: flex-end;
}

.main,
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#weather {
  color: #fff;
  font-size: 30px;
}

#clock {
  font-size: 128px;
  color: #fff;
}

#greeting {
  color: #fff;
  font-size: 75px;
}

#quote {
  color: #fff;
  font-size: 24px;
}

.todo-form-label{
  color: #fff;
  font-size: 40px;
}

.todo-input{
  width: 400px;
  background: 0;
  border: 0;
  border-bottom: 2px solid #fff;
  color: #fff;
  font-weight: 500;
  line-height: 1.2;
  outline: none;
  text-align: center;
  transition: border-color .2s ease;
  font-size: 40px;
}

ul > li {
  color: #fff;
  list-style: none;
  font-size: 28px;
}

ul > li > button {
  background: 0;
  border: 0;
}