/* 레이아웃 관련 스타일 */
body {
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 8fr 1fr;
  color: #fff;
  letter-spacing: -2.5px;
}

body > img {
  filter: brightness(80%);
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  object-fit: cover;
  z-index: -1;
}

header {
  grid-row: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

main {
  grid-row: 2;
  margin-top: 180px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer {
  grid-row: 3;
  margin: auto;
}

/* 컴포넌트별 스타일 */

#weather {
  font-size: 30px;
}

#clock {
  font-weight: 600;
  font-size: 150px;
  margin-bottom: -80px;
}

#greeting {
  font-size: 40px;
  margin-bottom: 40px;
}

#quote {
  font-size: 24px;
}

/* goal*/
#goal-form {
  text-align: center;
}
#goal-form-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.goal-form-label {
  font-size: 32px;
  margin-bottom: -1px;
}

.goal-input {
  color: #fff;
  font-size: 32px;
  width: 400px;
  background: 0;
  border: 0;
  border-bottom: 2px solid #fff;
  font-weight: 500;
  line-height: 1.2;
  outline: none;
  text-align: center;
  transition: border-color 0.2s ease;
}

.goal-form-label {
  font-size: 26px;
}

#goal-display-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#goal-display-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

#goal-checkbox {
  width: 20px;
  height: 20px;
  border: 3px solid #fff;
  border-radius: 20%;
  background-color: rgba(255, 255, 255, 0.2);
}

#goal-option {
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

#goal-option:hover {
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

#goal-checkbox:hover {
  cursor: pointer;
}

#goal-display-text {
  font-size: 36px;
  white-space: nowrap;
}

/*todo*/
#todo {
  font-size: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.todo-form-label {
  margin-bottom: -1px;
}

.todo-input {
  color: #fff;
  font-size: 32px;
  width: 400px;
  background: transparent;
  border: 0;
  border-bottom: 2px solid #fff;
  font-weight: 500;
  line-height: 1.2;
  outline: none;
  text-align: center;
  transition: border-color 0.2s ease;
}

ul > li {
  list-style: none;
  font-size: 28px;
}

ul > li > button {
  background: 0;
  border: 0;
}

.hidden {
  display: none !important;
}

.cancel-line {
  text-decoration: line-through;
}
